.pad-left{
   margin-left: 10px 
}

.card{
    cursor: pointer;
    height: 170px;
    /* column-span: "col-md-10"; */
}

.grow:hover
{
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
}