@import "~bootstrap/dist/css/bootstrap.css";

body, html {
    height: 100%;
}
.bg {
    
    /* Half height */
    height: 50%; 

    /* Center and scale the image nicely */
    background-position: unset;
    background-repeat: unset;
    background-size: auto;
}

.social-icon{
    color: white;
    width: 20px; height: 20px; margin: 0 15px 5px 0;
}

.social-icon:hover
{
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
}