<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Workshops</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto flex-row">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/workshops']" routerLinkActive="active">All Workshops</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/workshop/new']" routerLinkActive="active">Create Workshop</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Workshops
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Manage Workshops</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Manage Sessions</a>
        </div>
      </li>
    </ul>
    <!-- <div class="card">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div> -->
    <ul class="nav navbar-nav navbar-right">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> &nbsp;&nbsp;&nbsp;
      <li class="nav-item">
        <a class="nav-link" href="#">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!authService.isAuthenticated()" [routerLink]="['user/login']">Login</a>
        <a class="nav-link" *ngIf="authService.isAuthenticated()" [routerLink]="['user/profile']">
          Welcome {{authService.currentUser.firstName}}</a>
      </li>
    </ul>
  </div>
</nav>